body {
    background-color:hsl(254, 32%,8%);
}

.logo {
    padding:3px;
    margin:1px;
}

h1 {
    font-size: 70px;
    color:hsl(79, 55%, 92%);
    margin-left: 20px;
    font-family: 'Segoe UI';
}

.indent {
    margin-left: 80px;
}

.navigation {
    color:hsl(63, 13%, 68%);
    font-size: 30px;
    font-family: monospace;
    position: absolute;
    top: 100px;
    right: 310px;
}
a {
   text-decoration: none;
   font-family: monospace;
   color:hsl(63, 13%, 68%);

}

.instagram {
    position: absolute;
    top: 90px;
    right: 260px;
}

.number {
    color:hsl(63, 13%, 68%);
    font-size: 30px;
    font-family: monospace;
    position: absolute;
    top: 60px;
    right: 20px;
}

.about-writing {
    color:hsl(79, 55%, 92%);
    font-family: 'Segoe UI';
    font-size: 30px;
    float:left;
    padding: 20px;
    margin: 5px;
}

.about-pfp {
    position: absolute;
    top: 160px;
    right: 20px;
    padding: 20px;
    margin: 5px;
    float: right;
}









