body {
    background-color:hsl(254, 32%,8%);
 }
 
.logo {
    padding:3px;
    margin:1px;
}


h1 {
 font-size: 70px;
 color:hsl(79, 55%, 92%);
 padding: 0px;
 

}

.tab {
    margin-left: 40px;
    padding: 0px;
}







